<div>
    <h2 class="text-center">You are distributed in student dorm : {{ studDorm }}</h2>
    <p class="text-center">You can book in one of the rooms available</p>

    <div class="row">
        <p>1st floor</p>
    </div>
    <hr>
    <div class="row">
        <p>2nd floor</p>
    </div>
    <hr>
    <div class="row">
        <p>3th floor</p>
    </div>
    <hr>
    <div class="row">
        <p>4th floor</p>
    </div>
    <hr>
    <div class="row">
        <p>5th floor</p>
    </div>

</div>