input.ng-invalid.ng-touched{
    border: 1px solid red;
}

div.alert {
    margin-top: 20px;
}

.container {
    margin-top: 8%;
}

@media(max-width: 480px){
    .row {
        padding-top: 30px;
    }
}