input.ng-invalid.ng-touched{
    border: 1px solid red;
}

div.alert {
    margin-top: 20px;
}

.container {
    margin-top: 8%;
}

button{
  background-color: #0c1c29e8;
}

small{
  color:black;
}

@media(max-width: 480px){
    .row {
        padding-top: 30px;
    }
}
