input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

#terms{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 25px;
}

.btn.btn-primary{
    margin-top: 5px;
}

#mainContainer{
    margin-top: 4%;
}

@media(min-width: 992px){
    div.alert{
        margin-left: 21.5%;
    }

    #mainContainer{
        margin-left: -7em;
    }
}