input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

#terms{
    margin-top: 40px;
    margin-bottom: 20px;
    padding-right: 25px;
    font-weight: bold;
    font-size: 1.7rem;
    color:black;
}

.btn.btn-primary{
    margin-top: 5px;
}

#mainContainer{
    margin-top: 4%;
}

button{
  background-color: #0c1c29e8;
}

small {
  color: black;
}

@media(min-width: 992px){
    div.alert{
        margin-left: 21.5%;
    }

    #mainContainer{
        margin-left: -7em;
    }
}
