<div class="container-fluid">
  <!-- <h1 class="text-center">Welcome to the Booking-app !</h1> -->

  <div id="carouselHome" class="carousel slide" data-ride="carousel"data-inerval="2000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHome" data-slide-to="1"></li>
      <li data-target="#carouselHome" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../assets/Palatul_Lloyd_-_Piata_Victoriei.jpg" alt="...">
        <div class="carousel-caption">
          <h3>University Politehnica Timisoara</h3>
          <p >Established in 1920, shortly after the union of Romanian territories, in a European
            context marked by the redefinition of states and by the aftermath of World War I, the Polytechnic School in Timisoara
            -as was originally called - was the answer to one of the requirements of the Romanian society of the time,
             namely the formation of engineers.</p>
        </div>
      </div>
      <div class="item">
        <img src="../../assets/castle-2.jpg" alt="...">
        <div class="carousel-caption">
          <h3>Castle</h3>
          <p>Some awesome castle.</p>
        </div>
      </div>
      <div class="item">
        <img src="../../assets/ball-state-university.jpg" alt="...">
        <div class="carousel-caption">
          <h3>Ball State University</h3>
          <p>Established 1918 is a public research university in Muncie, Indiana.</p>
        </div>
      </div>
    </div>
  </div> <!-- Carousel -->

  <div class="container" id="info">
    <h3>Here you can find the latest news:</h3>
      <ul class="list-group" id="infoList">
        <li><a href="#" class="list-group-item">First</a></li>
        <li><a href="#" class="list-group-item">Second</a></li>
        <li><a href="#" class="list-group-item">Third</a></li>
      </ul>
  </div>
</div>
