<div class="container-fluid">
    <h1 class="text-center">Welcome to the Booking-app !</h1>

    <p>We are glad that you choose to use our application for booking in your student dorm.</p>

    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <img [src]="images[0]" alt="Random first slide">
              <div class="carousel-caption">
                <h3>2 seconds between slides...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img [src]="images[1]" alt="Random second slide">
              <div class="carousel-caption">
                <h3>Mouse events...</h3>
                <p>This carousel pause or resume on mouse events</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img [src]="images[2]"  alt="Random third slide">
              <div class="carousel-caption">
                <h3>No keyboard...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img [src]="images[3]" alt="Random fourth slide">
              <div class="carousel-caption">
                <h3>And wrap after last slide.</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
          </ngb-carousel>
               <div class="col-md-2">
        </div>
      </div>
    </div>

</div>
